*{
    font-family: 'Poppins', sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    /* font-family: 'Poppins', sans-serif; */
    color: rgb(223, 177, 92);
    background-color: rgb(2, 66, 80);
    border-radius: 15px 15px 0px 0px;
    font-weight: bold;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    background-color: rgb(230, 227, 218);
    border-style: none;
}
.option{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.afaantuh li{
    color:rgb(255, 255, 255);
}
.afaantuh{
    display:flex;
    flex-direction: column;
    width: 500px;
    length: 400px;
    background-color: rgb(105, 171, 184);
    border-radius: 3rem;
}

.option a{
    font-size: 20px;
    color:rgb(255, 255, 255);
}
.option h2{
    margin: 0rem;
    font-size:40px;
    color:rgb(171, 82, 162);
}
