@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.header{
    display: flex;
    justify-content: flex-start;
    color: rgb(223, 177, 92);
    background-color: rgb(2, 66, 80);
    border-radius: 15px 15px 0px 0px;
    align-items: center;
    padding: 1rem;
}
.shortcut {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap:1rem;
    background-color: rgb(2, 66, 80);
}

.title{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15%;
    flex-grow: 1;
}

.title h1{
    font-size: 35px;
    margin-block-start: 0.1rem;
    margin-block-end: 0.2rem;
    padding: 0.5rem 0rem 0rem 0rem;
    font-weight: bolder;
}

.body{
    background-color:  rgb(230, 227, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}
.employee-table{
    margin: 2rem 0rem;
    border-style: ridge;
    width: 80%;
}
.shortcut a{
    color:aliceblue;
    font-size: 10px;
}
.content{
    padding:0.5rem;
}